@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Alineación vertical de columnas</h3>

<div class="row align-items-start">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2
    </div>
    <div class="col">
        columna 3
    </div>
</div>
<div class="row align-items-center">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2
 </div>
    <div class="col">
        columna 3
    </div>
</div>
<div class="row align-items-end">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2
    </div>
    <div class="col">
        columna 3
    </div>
</div>

<h3>Alineación horizontal de columnas</h3>

<div class="row">
    <div class="col align-self-start">
        columna 1
    </div>
    <div class="col align-self-center">
        columna 1
    </div>
    <div class="col align-self-end">
        columna 1
    </div>
</div>
