@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4> Ejemplo imagenes en grilla</h4>
<div class="row">
    <div class="col-sm-3">
        <img class="img-fluid" src="https://www.wired.com/wp-content/uploads/2014/12/141202_Ferrari-FXXK33056.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://www.wired.com/wp-content/uploads/2014/12/141202_Ferrari-FXXK33056.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://www.wired.com/wp-content/uploads/2014/12/141202_Ferrari-FXXK33056.jpg" />
    </div>
</div>


<h4>Ejemplo imagen thumbnail</h4>

<img class="img-thumbnail rounded-circle" src="https://cdn.mos.cms.futurecdn.net/05b0ef41d32a5498e4e0d1f58308cd37-1200-80.jpg" />