@{
    ViewData["Title"] = "Home Page";
}


<div>
    <ul >
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Grid">Grid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Alineacion">Alineación</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Offset">Offset</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Gutter">Gutter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Imagenes">Imágenes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Colores">Colores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tablas">Tablas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Video">Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sizes">Tamaños</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Margenes">Margenes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Textos">Textos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Formulario">Formulario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Acordeon">Acordeón</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Alertas">Alertas</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Carousel">Carousel</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="VentanaEmergente">Ventana Emergente</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tabs">Tabs</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OffCanvas">Off Canvas</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Toast">Toast</a>
        </li>
    </ul>
</div>









   
