@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Alineando texto</h3>

<p class="text-start">Texto a la izquierda</p>
<p class="text-center">Texto al centro</p>
<p class="text-end">Texto a la derecha</p>

<p class="text-sm-center">Texto centralizado en pantallas pequeñas o más grandes</p>
<p class="text-md-center">Texto centralizado en pantallas medias o más grandes</p>
<p class="text-lg-center">Texto centralizado en pantallas grandes o más grandes</p>
<p class="text-xl-center">Texto centralizado en pantallas extra-grandes o más grandes</p>

<h3>Texto dentro de su contenedor</h3>

<div class="badge bg-primary text-wrap" style="width: 6rem;">
    Este texto no sale de su contenedor
</div>

<div class="badge bg-primary text-wrap text-break" style="width: 6rem;">
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
</div>


<h3>Tamaño textos</h3>

<p class="fs-1">fs-1</p>
<p class="fs-2">fs-2</p>
<p class="fs-3">fs-3</p>
<p class="fs-4">fs-4</p>
<p class="fs-5">fs-5</p>
<p class="fs-6">fs-6</p>

<h3>Estilo de textos</h3>

<p class="fw-bold">Negrita</p>
<p class="fw-bolder">Más Negrita</p>
<p class="fw-normal">Normal</p>
