@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3> ejemplo video</h3>

<div>
    Sin ratio:
</div>

<iframe width="1264" height="480" src="https://www.youtube.com/embed/IzdhulAIdP4" title="Boss Chorus Shootout + Opinion: CH-1 vs. CE-5 vs. CE-2w vs. DC-2w (in Mono & Stereo)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<div>
    Con ratio 16x9:
</div>

<div class="ratio ratio-16x9">
    <iframe width="1264" height="480" src="https://www.youtube.com/embed/IzdhulAIdP4" title="Boss Chorus Shootout + Opinion: CH-1 vs. CE-5 vs. CE-2w vs. DC-2w (in Mono & Stereo)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>